<%= form_for(@snapshot) do |f| %>
  <% if @snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
      <% @snapshot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :url, :class => "default-font mdl-textfield__input" %>
    <label class="mdl-textfield__label mdl-color-text--white" for="snapshot_email">Url</label>
    <span class="mdl-textfield__error">URL is Invalid</span>
  </div><br>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :email, :class => "default-font mdl-textfield__input", :pattern => "^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" %>
    <label class="mdl-textfield__label mdl-color-text--white" for="snapshot_email">Email Address</label>
    <span class="mdl-textfield__error">Email Address Invalid</span>
  </div>
  <div class="actions">
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-ripple--center mdl-color--white mdl-color-text--grey-700" name="commit">
      Snap!
    </button>
  </div>
<% end %>
